<div class="reading-single-room">
    <div class="title-tag">
        Reading Room!
    </div>

    <div class="gap-30"></div>
    
    <div class="top-section">
        <div class="row">
            <div class="col-12 col-sm-5 col-md-5 col-lg-4">
                <div class="photo" style="background: url('assets/images/writeaway-banner.png')"></div>
                <div class="icons-group">
                    <div class="read-icon">
                        <div class="image">
                            <img src="assets/images/book.svg"/>
                        </div>
                        <div class="info">
                            <div style="border-bottom: 1px solid #aeaeae;">{{reading.publication.reads}}</div>
                            <div>Reads</div>
                        </div>
                    </div>
                    <div class="social-icon">
                        <div class="px-1">
                            <img src="assets/images/hrt_icon.png">
                        </div>
                        <div class="px-1">
                            <img src="assets/images/share_icon.png">
                        </div>
                        <div class="px-1">
                            <img src="assets/images/bookmark.svg">
                        </div>
                    </div>
                </div>
                <div class="publisher py-3">
                    Publisher: <img width="30px" src="assets/images/w.png" class="mx-1"/> Write Aawyy
                </div>
            </div>
            <div class="col-12 col-sm-7 col-md-7 col-lg-8 px-0 d-flex" style="flex-direction: column;">
                <div style="flex:1">
                    <div class="title-bar w-100">
                        <div class="col-12 col-sm-9 col-md-9 title-text">
                            <span>{{reading.publication.title}}</span>
                        </div>
                        <div class="col-12 col-sm-3 col-md-3 stars">
                            <img *ngIf="reading.publication.rating > 0" src="assets/images/star.svg" width="30px" />
                            <img *ngIf="reading.publication.rating > 1" src="assets/images/star.svg" width="30px" />
                            <img *ngIf="reading.publication.rating > 2" src="assets/images/star.svg" width="30px" />
                            <img *ngIf="reading.publication.rating > 3" src="assets/images/star.svg" width="30px" />
                            <img *ngIf="reading.publication.rating > 4" src="assets/images/star.svg" width="30px" />
                        </div>
                    </div>
                    <div class="genres-outer">
                        <div class="genres">
                            <b>Genres:</b> {{reading.publication.genres}}
                        </div>
                        <div class="date">
                            <b>{{reading.publication.created_at}}</b>
                        </div>
                    </div>

                    <div class="content-list-outer">
                        <h1>Contents</h1>
                        <h2>{{reading.volumes[currentVol].name}}</h2>
                        <div class="list-outer">
                            <div class="item" *ngFor="let x of reading.volumes[currentVol].topics; let i = index" (click)="loadTopic(x)">
                                <div class="topic" style="cursor: pointer;">
                                    {{i+1}}. {{x.title}}
                                </div>
                                <div class="byname">
                                    by {{x.created_by}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination py-3">
                    <div class="pagenumber"><span style="cursor: pointer;" (click)="decrement()">&lt;</span><span class="currentpage"> {{currentVol + 1}} </span> / {{reading.volumes.length}} <span style="cursor: pointer;" (click)="increment()">&gt;</span></div>
                </div>
                
            </div>
         
        </div>
    </div>

    <div class="bottom-section-outer" *ngIf="currentTopic != null">
        <div class="bottom-section">
            <div class="photo-outer">
                <div class="photo" style="background: url('assets/images/writeaway-banner.png')">
                </div>
            </div>
           
            <div class="title">
                {{currentTopic.title}}
            </div>

            <div class="content-text">
                {{currentTopic.content}}
            </div>

            <div style="clear:both"></div>

            <div class="bottom-line mt-4">
                <div class="row w-100">
                    <div class="col-12 col-md-4 d-flex mb-2 justify-content-center">
                        <div class="read-icon mr-4">
                            <div class="image">
                                <img src="assets/images/book.svg"/>
                            </div>
                            <div class="info">
                                <div style="border-bottom: 1px solid #aeaeae;">{{currentTopic.reads}}</div>
                                <div>Reads</div>
                            </div>
                        </div>
                        <div class="social-icon mr-4" style="width:100px; min-width: 100px;">
                            <div class="px-1"><img src="assets/images/hrt_icon.png"></div>
                        </div>

                        <div class="stars">
                            <img *ngIf="currentTopic.rating > 0" src="assets/images/star.svg" width="30px" />
                            <img *ngIf="currentTopic.rating > 1" src="assets/images/star.svg" width="30px" />
                            <img *ngIf="currentTopic.rating > 2" src="assets/images/star.svg" width="30px" />
                            <img *ngIf="currentTopic.rating > 3" src="assets/images/star.svg" width="30px" />
                            <img *ngIf="currentTopic.rating > 4" src="assets/images/star.svg" width="30px" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center  mb-2">
                        <p style="font-weight: 600; color: #aeaeae; font-size: 1.3rem;">Post A Review</p>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center  mb-2">
                        <p style="font-weight: 600; color: #000; font-size: 1rem;">By Ricky Pointing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>