<div class="reading-single-room">
    <div class="title-tag">
        Reading Room!
    </div>

    <div class="gap-30"></div>
    
    <div class="top-section">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                <div class="photo"></div>
                <div class="icons-group">
                    <div class="read-icon">
                        <div class="image">
                            <img src="assets/images/book.svg"/>
                        </div>
                        <div class="info">
                            <div style="border-bottom: 1px solid #aeaeae;">1500</div>
                            <div>Reads</div>
                        </div>
                    </div>
                    <div class="social-icon">
                        <div class="px-1">
                            <img src="assets/images/hrt_icon.png">
                        </div>
                        <div class="px-1">
                            <img src="assets/images/share_icon.png">
                        </div>
                        <div class="px-1">
                            <img src="assets/images/bookmark.svg">
                        </div>
                    </div>
                </div>
                <div class="publisher py-3">
                    Publisher: <img width="30px" src="assets/images/w.png" class="mx-1"/> Write Aawyy
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-9 px-0 d-flex" style="flex-direction: column;">
                <div style="flex:1">
                    <div class="title-bar w-100">
                        <div class="col-12 col-sm-9 col-md-9 title-text">
                            <span>Title</span>
                        </div>
                        <div class="col-12 col-sm-3 col-md-3 stars">
                            <img src="assets/images/star.svg" width="30px" />
                            <img src="assets/images/star.svg" width="30px" />
                            <img src="assets/images/star.svg" width="30px" />
                            <img src="assets/images/star.svg" width="30px" />
                            <img src="assets/images/star.svg" width="30px" />
                        </div>
                    </div>
                    <div class="genres-outer">
                        <div class="genres">
                            <b>Genres:</b> Fantasy
                        </div>
                        <div class="date">
                            <b>June 24, 2020</b>
                        </div>
                    </div>

                    <div class="content-list-outer">
                        <h1>Contents</h1>
                        <h2>Theme Name (If Any)</h2>

                        <div class="list-outer">
                            <div class="item">
                                <div class="topic">
                                    1. Topic
                                </div>
                                <div class="byname">
                                    by Ricky Pointing
                                </div>
                            </div>
                            <div class="item">
                                <div class="topic">
                                    2. Topic
                                </div>
                                <div class="byname">
                                    by Ricky Pointing
                                </div>
                            </div>
                            <div class="item">
                                <div class="topic">
                                    3. Topic
                                </div>
                                <div class="byname">
                                    by Ricky Pointing
                                </div>
                            </div>
                            <div class="item">
                                <div class="topic">
                                    4. Topic
                                </div>
                                <div class="byname">
                                    by Ricky Pointing
                                </div>
                            </div>
                            <div class="item">
                                <div class="topic">
                                    5. Topic
                                </div>
                                <div class="byname">
                                    by Ricky Pointing
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination py-3">
                    <div class="pagenumber">&lt; <span class="currentpage">3</span> / 10 &gt;</div>
                </div>
                
            </div>
         
        </div>
    </div>

    <div class="bottom-section-outer">
        <div class="bottom-section">
            <div class="photo-outer">
                <div class="photo">
                </div>
            </div>
           
            <div class="title">
                Topic Name
            </div>

            <div class="content-text">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </div>

            <div style="clear:both"></div>

            <div class="bottom-line mt-4">
                <div class="row w-100">
                    <div class="col-12 col-md-4 d-flex mb-2 justify-content-center">
                        <div class="read-icon mr-4">
                            <div class="image">
                                <img src="assets/images/book.svg"/>
                            </div>
                            <div class="info">
                                <div style="border-bottom: 1px solid #aeaeae;">1500</div>
                                <div>Reads</div>
                            </div>
                        </div>
                        <div class="social-icon mr-4" style="width:100px; min-width: 100px;">
                            <div class="px-1">
                                <img src="assets/images/hrt_icon.png">
                            </div>
                            <div class="px-1">
                                <img src="assets/images/share_icon.png">
                            </div>
                            <div class="px-1">
                                <img src="assets/images/bookmark.svg">
                            </div>
                        </div>

                        <div class="stars">
                            <img src="assets/images/star.svg" width="30px" />
                            <img src="assets/images/star.svg" width="30px" />
                            <img src="assets/images/star.svg" width="30px" />
                            <img src="assets/images/star.svg" width="30px" />
                            <img src="assets/images/star.svg" width="30px" />
                        </div>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center  mb-2">
                        <p style="font-weight: 600; color: #aeaeae; font-size: 1.3rem;">Post A Review</p>
                    </div>
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center  mb-2">
                        <p style="font-weight: 600; color: #000; font-size: 1rem;">By Ricky Pointing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>