.header {
  height: 80px;
}

.login-modal {
  padding-bottom: 20px;
}

.forget-pass-login-modal {
  font-size: 13px;
  margin-top: 6px;
}

.header .logo {
  position: absolute;
  top: 0;
  width: 260px;
}

.right {
  text-align: right;
}

.select-dates {
  padding-top: 10px;

}

.cursor {
  cursor: pointer;
}

.select-dates select {
  cursor: pointer;
}

.not-reg-modal {
  margin-right: 10px;
}

.logo {
  width: 100%;
}


.header .logo a {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}

.btn_area {
  float: right;
  padding-top: 8px;
  display: flex;
  align-items: center;
}

.btn_area .search_btn i {
  color: #1ca9c9;
  cursor: pointer;
  font-size: 18px;
}

.btn_area .btn_img {
  width: 110px;
  margin-left: 40px;
}


.align {
  position: relative;
  top: -13px;
  z-index: -1;
}

.col_form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 30px;
}

.form-group {
  margin-bottom: 1rem;
}

/* nice dropdown */
.nice-select {
  height: 30px;
  border-radius: 50px;
  color: #1ca9c9;
  font-size: 13px;
  font-weight: 600;
  border-color: #e051b7;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 15px;
  font-weight: normal;
  height: 42px;
  line-height: 27px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  margin-bottom: 16px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select::after {
  border-bottom: 2px solid #1ca9c9;
  border-right: 2px solid #1ca9c9;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 8px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 8px;
}

/* NEW CSS _ C */
.pad-zero {
  padding: 0% !important;
}

.right-header {
  padding-top: 15px !important;
  padding-right: 30px !important;
}

.right-header select {
  width: 55%;
  border: 1px solid #D43299;
  border-radius: 6px;
  font-size: 11px;
  padding: 5px;
}

.search-icon {
  color: #3494C0;
  margin-right: 5%;
}

/* Login */
.create-acc-head {
  background-color: #EFFDFF;
  color: #309FD8;
  padding: 7px;
}

.back-image {
  /* background-image: url(/assets/images/main-banner45.svg); */
  height: 87%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.modal-check {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.remeber-section {
  margin-top: 16px;
}

.form-details {
  margin-top: 20px;
  padding: 3px 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 13px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -6px rgba(0, 0, 0, 0.75);
  border: 1px solid lightgray;

}

.input-names {
  font-size: 13px;
  font-weight: 500;
  color: lightgray;
  margin-bottom: 0px !important;
  margin-top: 9px;
}

.headings-input-fields {
  padding-top: 15px;
}

.input-names {
  font-size: 13px;
  font-weight: 500;
  color: darkgray;
  margin-bottom: 0px !important;
  margin-top: 9px;
}

.input-fields {
  display: block;
  border: none;
  border-bottom: 1px solid #E72692;
  color: lightgray;
  width: 100%;
  color: black;
  padding-left: 5px;
  background-color: transparent;
}

.log-details {
  padding-top: 16px;

}

.radio-btns {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 3px;

}

/* .footer-updates chekbox{} */
.check-btms {
  position: relative;
  left: 39px;
  top: 18pcx;
  top: 6px;
}

.col-yel {
  color: #FFB300;
}

/* .radio-btns :checked{
 color: red;
 background-color: red;

} */
.right-alig {
  text-align: right !important;

}

.left-alig {
  text-align: left !important;

}

.center {
  text-align: center;
}

.footer-updates span {
  font-weight: 800;
  font-size: 11px;
}

.input-fields:focus {

  background-color: white;
}

.headings-input-fields {
  padding-top: 15px;
}

.btn-signup {
  color: white;
  border: none;
  background-color: #309FD8;
  font-weight: 700;
  padding: 7px 29px 7px 29px;
  border-radius: 5px;
  margin-bottom: 7px;
  margin-top: 12px;
  font-size: 12px;
}

a.forget-password {
  text-decoration: none;
  background-color: transparent;
  color: #309FD8;
}

/* Login */
/* Registration */
.date-picker {
  text-align: center;
  background-color: white !important;
  padding-bottom: 8px;
  -webkit-box-shadow: -1px 8px 11px -8px rgba(0, 0, 0, 1);
  -moz-box-shadow: -1px 8px 11px -8px rgba(0, 0, 0, 1);
  box-shadow: -1px 8px 11px -8px rgba(0, 0, 0, 1);
  padding-top: 17px;
  padding-bottom: 23px;
}

.display {
  display: inline-flex;
}

.birthdate {
  display: inline-block;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #E72692;
  color: lightgray;
  cursor: pointer;
}

/* Registration */
/* Modal */
::ng-deep .modal-dialog {
  float: right;
  margin-right: 273px;
  opacity: 0.8;

}

/* Modal */
.btn-signup {
  color: white;
  border: none;
  background-color: #309FD8;
  font-weight: 700;
  padding: 7px 29px 7px 29px;
  border-radius: 5px;
  margin-bottom: 7px;
  margin-top: 12px;
  font-size: 12px;
}

.right-header img {
  width: 32%;
}

.logo img:focus {
  outline: none;
}
/* }
forget-pass */

.forget-cancl{
  margin-top: 10px;
  border: 1px solid;
  padding: 6px 20px 5px 20px;
  border-radius: 5px;
font-weight: 700;
}
.forget-popup{
  padding-bottom: 56px;

}
.forget-heght{
  height: 239px;
  padding-top: 27px;

}
.login-modalss{
position: absolute !important;
right: 0px !important;
background-color: white !important;
float: right !important;
}
::ng-deep .modelWidth{
  margin-top: 180px;
  margin-right: 300px;


}
  @media only screen and (min-width:1024px) and (max-width:1025px){
  ::ng-deep .modelWidth{
    margin-right: 174px;
    margin-top: 161px;
    width: 31% !important;
  
   } 
 }
 
 @media only screen and (min-width:1440px) and (max-width:1441px){
  ::ng-deep .modelWidth{
    margin-top: 146px;
    width: 30% !important;
  
   } 
 }
 @media only screen and (min-width:768px) and (max-width:769px){
  ::ng-deep .modelWidth{

    margin-top: 389px;
    width: 100% ;
  
   } 
   ::ng-deep .modal-content{
 
    width: 160% !important;
  
   } 
 }


::ng-deep .modal-content{
  width: 148%;

}
.sign-up-pop-col{
  color: #e051b7;
  background-color: transparent;
  font-weight: 700;
  font-size: 15px;

}
.closepop-btn{
  padding: 3px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -3px;
    margin-bottom: -2px;
}
.left{
  text-align: left;
}
.update-birthdate{
  width: 69%;

}
.caret-icons{
  position: relative;
  right: 8px;
  color: lightgray;
}

