<div class="container-fluid">
  <!-- header -->

  <div class="row pad-zero">

    <div class="col-md-3 pad-zero">
      <button type="button" class="logo-btn">Blog</button>
    </div>

    <div class="col-md-3 right right-header pull-right ">

    </div>

  </div>

  <!-- ---------------body --------------->

  <div class="">
    <div class="container-fluid center blog-body">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <img src="http://localhost:3000/images/{{blog.media}}" *ngIf="blog && blog.media" class="hunt-img">
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 center">
          <div class="row">
            <div class="col-lg-2">
              <span class="date" *ngIf="blog && blog.content"> {{blog.createdAt | date: 'MMM dd, yyyy'}} </span>
            </div>
            <div class="col-lg-10">
              <h3 class="blog-title" *ngIf="blog && blog.title">{{blog.title}}</h3>
            </div>
          </div>


          <div class="text-style">

            <p [innerHTML]="blog.content" *ngIf="blog && blog.content">

            </p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row blog-body-icons">
                <div class="col-md-4 icons-res updated-img">
                  <img src="/assets/images/book.svg" class="img-updated" alt="dff">
                  <!-- <i class="fa fa-book new-icons-blog fa-lg  clr1"></i> -->
                  <span class="pricing" *ngIf="blog && blog.readCount">{{blog.readCount.length || '0'}}</span>
                  <div>
                    <span class="info-icon blog-icons">Reads</span>
                  </div>

                </div>

                <div class="col-md-4 icons-res">


                  <i class="fa fa-lg new-icons-blog  fa-heart-o clr2" aria-hidden="true"></i>
                  <span class="pricing" *ngIf="blog && blog.likeCount">{{blog.likeCount|| '0'}}</span>
                  <div>
                    <span class="info-icon blog-icons">Likes</span>
                  </div>


                </div>

                <div class="col-md-4 icons-res">
                  <i class="fa  new-icons-blog fa-share share-eco  ">
                  </i>

                  <span class="pricing" *ngIf="blog && blog.shareCount">{{blog.shareCount || '0'}}</span>
                  <div>
                    <span class="info-icon blog-icons">Shares</span>
                  </div>

                </div>

              </div>
            </div>

            <div class="col-md-6"></div>

          </div>



        </div>

      </div>
    </div>
    <div class="container recent-blogs center">
      <div id="share-head" class="rc-head">
        <h4><span class="recenter">Re</span>cent from Blogs</h4>
      </div>

      <div class="row">

        <div class="col-md-3 recent-blog-blk" *ngFor="let blog of recentBlogs">
          <div class="date-recent"> <span> {{ blog.createdAt | date : 'MMM dd,yyyy'   }}</span> </div>
          <div class="rcbb">
            <div class="recent-blog-img">
              <img src="http://localhost:3000/images/{{blog.media}}">
            </div>
            <div class="comm-font">
              <p>{{blog.title}}</p>
            </div>
            <div class="recent-text-font">
              <p [innerHTML]="blog.content"></p>
            </div>
            <span class="read-more">
              <p (click)="addToRecent(blog._id)"> Read More </p>
            </span>
          </div>
        </div>
      </div>

      <div class="top-margin"></div>

      <div class="archive-section col-md-12">
        <p class="archive-font"><span class="recenter">Ar</span>chives</p>
        <div class="archive-date">
          <p *ngFor="let data of monthsArchievedData | keyvalue" (click)="archieveBlogShow(data.value)">{{ data.key }}
          </p>
          <div class="row">
            <div class="col-md-3 recent-blog-blk" *ngFor="let blog of archieveMonthArr">
              <div class="date-recent">

                <span> {{ blog.createdAt | date:'MMM dd, yyyy' }}</span>
              </div>
              <div class="rcbb">
                <div class="recent-blog-img">
                  <img src="http://localhost:3000/images/{{blog.media}}">
                </div>
                <div class="comm-font">
                  <p>{{blog.title}}</p>
                </div>
                <div class="recent-text-font">
                  <p [innerHTML]="blog.content.substr(0,140)"></p>
                </div>
                <!-- <span class="read-more">
                  <p (click)="addToRecent(blog._id)"> Read More </p>
                </span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Recent BLOG READ MORE VIEW -->
    <div class="container-fluid center blog-body" *ngIf="(recentBlog | json)  != ({} | json)">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <img src="http://localhost:3000/images/{{recentBlog['media']}}" *ngIf="recentBlog && recentBlog['media']"
            class="hunt-img">
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 center">
          <div class="row">
            <div class="col-lg-2">
              <span class="date" *ngIf="recentBlog && recentBlog['content']">
                {{recentBlog['createdAt'] | date: 'MMM dd, yyyy'}} </span>
            </div>
            <div class="col-lg-10">
              <h3 class="blog-title" *ngIf="recentBlog && recentBlog['title']">{{recentBlog['title']}}</h3>
            </div>
          </div>


          <div class="text-style">

            <p [innerHTML]="recentBlog['content']" *ngIf="recentBlog && recentBlog['content']">

            </p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row blog-body-icons">
                <div class="col-md-4 icons-res">

                  <i class="fa fa-book new-icons-blog fa-lg  clr1"></i>
                  <span class="pricing">{{blog.readCount.length || '0'}}</span>
                  <div>
                    <span class="info-icon blog-icons">Reads</span>
                  </div>

                </div>

                <div class="col-md-4 icons-res">


                  <i class="fa fa-lg new-icons-blog  fa-heart-o clr2" aria-hidden="true"></i>
                  <span class="pricing" *ngIf="recentBlog['likeCount']">{{recentBlog['likeCount'] || 0}}</span>
                  <div (click)="like()">
                    <span class="info-icon blog-icons">Likes</span>
                  </div>


                </div>

                <div class="col-md-4 icons-res">
                  <i class="fa  new-icons-blog fa-share share-eco  ">
                  </i>

                  <span class="pricing" *ngIf="recentBlog['shareCount']">{{recentBlog['shareCount'] || 0}}</span>
                  <div>
                    <span class="info-icon blog-icons">Shares</span>
                  </div>

                </div>

              </div>
            </div>

            <div class="col-md-6"></div>

          </div>



        </div>

      </div>
    </div>
    <!-- Recent BLOG READ MORE VIEW -->

  </div>
</div>
