<div class="left-bar-writeAway background-light-blue" *ngIf="show">
  <img src="/assets/images/publisher.svg" class="imgleft"> <span>Daniel</span>
  <p>
    Profile Completion <span class="progress updated-progress progress-left">
      <span class="progress-bar bar-length" style="color:white !important
            ;border-radius: 13px !important;
            font-size: 8px !important;
            ">75%</span>
    </span>
    <i class="fa fa-pencil-square-o fa-lg edit-icon-left "></i>
  </p>

  <p>
    Status:<span>Minor Child</span>
  </p>
  <p>
    Content Level: <span> Upto 15 yrs</span>
  </p>
  <div class="row rating-left">
    <div class="col-md-6">
      <p>My Rating</p>
      <i class="fa fa-star star-icon"></i>
      <i class="fa fa-star star-icon"></i>
      <i class="fa fa-star star-icon"></i>
      <i class="fa fa-star star-icon"></i>
      <i class="fa fa-star star-icon"></i>


    </div>
    <div class="col-md-6 center " >
      <div class="text-center">
        <i class="fa fa-user user-icon"></i>
        <i class="fa fa-share-alt share-icon-left"></i>
       
      </div>
      <div class="" >
      <p style="display: unset !important;">Share Profile</p>
    </div>
    </div>

  </div>


  <div class=" blog-body-icons border-white  background-light-blue">

    <div class="row ">
      <div class="col-6 left-bar-size center">
        <div class="align-bookimg"><i class="fa left-bar-icn fa-user-plus clr1"></i></div>
        <div class="align-center align-reads">450</div>
        <div><span class="left-icons-multiple left-bar-size">Following</span></div>
      </div>
      <div class="col-6 left-bar-size center">
        <div class="align-bookimg"><i class="fa left-bar-icn fa-users col-blue" aria-hidden="true"></i></div>
        <div class="align-reads">500</div>
        <div><span class="left-icons-multiple left-bar-size">Followers</span></div>
      </div>

    </div>



  </div>

  <div class=" blog-body-icons border-white  background-light-blue">

    <div class="row ">
      <div class="col-6 left-bar-size center">
        <div class="align-bookimg"><i class="fa left-bar-icn fa-bookmark-o col-red col-red"></i></div>
        <div class="align-center align-reads">450</div>
        <div><span class="left-icons-multiple left-bar-size" routerLink="/user-profile/my-bookmarks">Bookmarks</span>
        </div>
      </div>
      <div class="col-6 left-bar-size center">
        <div class="align-bookimg"><i class="fa left-bar-icn fa-heart-o clr2" aria-hidden="true"></i></div>
        <div class="align-reads">450</div>
        <div><span class="left-icons-multiple left-bar-size">Reminders</span></div>
      </div>

    </div>



  </div>

  <div class="left-pad border-white">
    <p>
      I'm Writing... <span>500</span>
    </p>
    <p routerLink="/user-profile/my-reading">
      I'm Reading... <span> 500</span>
    </p>
  </div>

  <div class="left-pad border-white ">
    <div class="row">
      <div class="col-md-7">
        <p routerLink="/user-profile/my-submissions">
          My Submissions: <span>500</span>
        </p>
      </div>
      <div class="col-md-5 text-right">
        <div class="align-bookimg updated-shares reverts-share"><i class="fa  fa-lg  fa-share col-blue"></i></div>
        <div class="align-reads">450</div>
        <div><span class="left-icons-multiple ">Reverts</span></div>

      </div>
    </div>


    <p>
      Published: <span> 500</span>
    </p>

    <div class="row left-smale-cons">
      <div class="col-3 left-bar-size center">
        <div class="align-bookimg"><i class="fa align-icon-small fa-lg  fa-bookmark-o col-red "></i></div>
        <div class="align-reads">450</div>
        <div><span class="left-icons-multiple left-bar-size-1">Reads</span></div>
      </div>
      <div class="col-3 left-bar-size center">
        <div class="align-bookimg"><i class="fa align-icon-small fa-lg fa-heart-o clr2"></i></div>
        <div class="align-reads">450</div>
        <div><span class="left-icons-multiple left-bar-size-1">Likes</span></div>
      </div>
      <div class="col-3 left-bar-size center">
        <div class="align-bookimg"><i class="fa align-icon-small  fa-share share-icon-left-bar"></i></div>
        <div class="align-reads">450</div>
        <div><span class="left-icons-multiple left-bar-size-1">Shares</span></div>
      </div>
      <div class="col-3 ">

      </div>

    </div>
  </div>


  <div class="left-pad ">
    <p>
      My Social Media:
    </p>
    <div class=" ">
      <i class="fa fa-lg fa-facebook   left-bar-btmss"></i>
      <i class="fa  fa-lg fa-instagram  left-bar-btmss"></i>
      <i class="fa  fa-lg fa-twitter   left-bar-btmss"></i>
      <i class="fa  fa-lg fa-linkedin  left-bar-btmss"></i>

      <i class="fa  fa-lg fa-google-plus  left-bar-btmss"></i>
    </div>
    <p></p>

  </div>
</div>
