<div class="container-fluid">
  <!-- header -->

  <div class="row pad-zero">
    <div class="col-md-3 pad-zero">
      <button type="button" class="logo-btn">My Desk</button>
    </div>

    <div class="col-md-9 right right-header pull-right">
      <div class="my-desk-heading background-light-pink">
        <p>
          <span class="color-pink">I'm</span> writing...<span class="col-blue"
            >500</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-user-sidebar></app-user-sidebar>
    </div>
    <!-- First ROW -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4 main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img
                src="/assets/images/read-away-publish.jpg"
                class="img-writing"
              />
              <div class="vedio-write">
                <div class="video-cont">
                  <i class="fa fa-file"></i>
                  <span class="video-text">Video</span>
                </div>
              </div>
              <div class="logo-publisher">
                <p>Publisher</p>
                <img src="/assets/images/publisher.svg" /> <span>Daniel</span>
                <div class="row follows-pad">
                  <div class="col-6 icons-one">
                    <span class="follow-icon"
                      ><img src="/assets/images/follow.svg" alt="" /></span
                    ><span class="icon-text">Follow</span>
                  </div>
                  <div class="col-6 icons-one sacsc">
                    <i class="fa fa-share share-icon-left-bar"></i>
                    <div class="share-textt">Share</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7">
              <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in
                laying out print, graphic or web designs. The passage is
                attributed to an unknown typesetter in the 15th century who is
                thought to have scrambled parts of. the 15th century who is
                thought to have scrambled parts of. the 15th century who is
                thought to have scrambled parts of. the 15th century who is
                thought to have scrambled parts of.
              </p>
              <label class="right-writeting"
                >Genres: <span>classic, Fantasy</span></label
              >
              <label class="right-writeting"
                >Languages: <span>Englsih</span></label
              >
              <label class="right-writeting"
                >Closing Date: <span>Jan 20,2020</span></label
              >
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>
          </div>
        </div>

        <div class="col-md-4 main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img
                src="/assets/images/read-away-publish.jpg"
                class="img-writing"
              />
              <div class="vedio-write">
                <div class="video-cont">
                  <i class="fa fa-file"></i>
                  <span class="video-text">Video</span>
                </div>
              </div>
              <div class="logo-publisher">
                <p>Publisher</p>
                <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                <div class="row follows-pad">
                  <div class="col-6 icons-one">
                    <span class="follow-icon"
                      ><img src="./assets/images/follow.svg" alt="" /></span
                    ><span class="icon-text">Follow</span>
                  </div>
                  <div class="col-6 icons-one sacsc">
                    <i class="fa fa-share share-icon-left-bar"></i>
                    <div class="share-textt">Share</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7">
              <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in
                laying out print, graphic or web designs. The passage is
                attributed to an unknown typesetter in the 15th century who is
                thought to have scrambled parts of. the 15th century who is
                thought to have scrambled parts of. the 15th century who is
                thought to have scrambled parts of. the 15th century who is
                thought to have scrambled parts of.
              </p>
              <label class="right-writeting"
                >Genres: <span>classic, Fantasy</span></label
              >
              <label class="right-writeting"
                >Languages: <span>Englsih</span></label
              >
              <label class="right-writeting"
                >Closing Date: <span>Jan 20,2020</span></label
              >
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>
          </div>
        </div>

        <div class="col-md-4 main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img
                src="/assets/images/read-away-publish.jpg"
                class="img-writing"
              />
              <div class="vedio-write">
                <div class="video-cont">
                  <i class="fa fa-file"></i>
                  <span class="video-text">Video</span>
                </div>
              </div>
              <div class="logo-publisher">
                <p>Publisher</p>
                <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                <div class="row follows-pad">
                  <div class="col-6 icons-one">
                    <span class="follow-icon"
                      ><img src="./assets/images/follow.svg" alt="" /></span
                    ><span class="icon-text">Follow</span>
                  </div>
                  <div class="col-6 icons-one sacsc">
                    <i class="fa fa-share share-icon-left-bar"></i>
                    <div class="share-textt">Share</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7">
              <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in
                laying out print, graphic or web designs. The passage is
                attributed to an unknown typesetter in the 15th century who is
                thought to have scrambled parts of. the 15th century who is
                thought to have scrambled parts of. the 15th century who is
                thought to have scrambled parts of. the 15th century who is
                thought to have scrambled parts of.
              </p>
              <label class="right-writeting"
                >Genres: <span>classic, Fantasy</span></label
              >
              <label class="right-writeting"
                >Languages: <span>Englsih</span></label
              >
              <label class="right-writeting"
                >Closing Date: <span>Jan 20,2020</span></label
              >
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="no-below-item">
        <p>
          <span class="fa fa-angle-left slider-direction-icon"></span>
          <span class="sp-sp"> <span class="clr-pink"> 1</span>/3</span>
          <span class="fa fa-angle-right slider-direction-icon"> </span>
        </p>
      </div>
      <!-- First ROW -->
      <!-- Second ROW -->
      <div class="my-desk-heading second-heading background-light-pink">
        <p>
          <span class="color-pink">I'm</span> Reading...<span class="col-blue"
            >500</span
          >
        </p>
      </div>
      <div>
        <div class="row">
          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                  <div class="row follows-pad">
                    <div class="col-6 icons-one">
                      <div class="icon-text">Rating</div>
                      <i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="col-6 icons-one">
                      <i
                        class="fa fa-bookmark-o bookmark-icon-my"
                        aria-hidden="true"
                      ></i
                      >Bookmark
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="row left-smale-cons writing-icons m-top">
                  <div class="col-4 left-bar-size">
                    <div class="align-bookimg book-img">
                      <img src="./assets/images/read-away-publish.jpg" alt="" />
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Reads</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i class="fa align-icon-small fa-lg fa-heart-o clr2"></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Likes</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i
                        class="fa align-icon-small fa-share share-icon-left-bar"
                      ></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Shares</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                  <div class="row follows-pad">
                    <div class="col-6 icons-one">
                      <div class="icon-text">Rating</div>
                      <i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="col-6 icons-one">
                      <i
                        class="fa fa-bookmark-o bookmark-icon-my"
                        aria-hidden="true"
                      ></i
                      >Bookmark
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="row left-smale-cons writing-icons m-top">
                  <div class="col-4 left-bar-size">
                    <div class="align-bookimg book-img">
                      <img src="./assets/images/read-away-publish.jpg" alt="" />
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Reads</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i class="fa align-icon-small fa-lg fa-heart-o clr2"></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Likes</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i
                        class="fa align-icon-small fa-share share-icon-left-bar"
                      ></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Shares</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                  <div class="row follows-pad">
                    <div class="col-6 icons-one">
                      <div class="icon-text">Rating</div>
                      <i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="col-6 icons-one">
                      <i
                        class="fa fa-bookmark-o bookmark-icon-my"
                        aria-hidden="true"
                      ></i
                      >Bookmark
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="row left-smale-cons writing-icons m-top">
                  <div class="col-4 left-bar-size">
                    <div class="align-bookimg book-img">
                      <img src="./assets/images/read-away-publish.jpg" alt="" />
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Reads</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i class="fa align-icon-small fa-lg fa-heart-o clr2"></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Likes</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i
                        class="fa align-icon-small fa-share share-icon-left-bar"
                      ></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Shares</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="no-below-item">
        <p>&lt; <span class="color-pink"> 3 </span>/ 10 &gt;</p>
      </div>

      <!------ Third ROW ------>

      <div class="my-desk-heading second-heading background-light-pink">
        <p>
          <span class="color-pink">My</span> Bookmarks
          <span class="col-blue"> 500</span>
        </p>
      </div>
      <div>
        <div class="row">
          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                  <div class="row follows-pad">
                    <div class="col-6 icons-one">
                      <div class="icon-text">Rating</div>
                      <i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="col-6 icons-one">
                      <i class="fa fa-share"></i>Share
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="row left-smale-cons writing-icons m-top">
                  <div class="col-4 left-bar-size">
                    <div class="align-bookimg book-img">
                      <img src="./assets/images/read-away-publish.jpg" alt="" />
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Reads</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i class="fa align-icon-small fa-lg fa-heart-o clr2"></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Likes</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i
                        class="fa align-icon-small fa-share share-icon-left-bar"
                      ></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Shares</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                  <div class="row follows-pad">
                    <div class="col-6 icons-one">
                      <div class="icon-text">Rating</div>
                      <i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="col-6 icons-one">
                      <i
                        class="fa fa-bookmark-o bookmark-icon-my"
                        aria-hidden="true"
                      ></i
                      >Bookmark
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="row left-smale-cons writing-icons m-top">
                  <div class="col-4 left-bar-size">
                    <div class="align-bookimg book-img">
                      <img src="./assets/images/read-away-publish.jpg" alt="" />
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Reads</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i class="fa align-icon-small fa-lg fa-heart-o clr2"></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Likes</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i
                        class="fa align-icon-small fa-share share-icon-left-bar"
                      ></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Shares</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                  <div class="row follows-pad">
                    <div class="col-6 icons-one">
                      <div class="icon-text">Rating</div>
                      <i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="col-6 icons-one">
                      <i
                        class="fa fa-bookmark-o bookmark-icon-my"
                        aria-hidden="true"
                      ></i
                      >Bookmark
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="row left-smale-cons writing-icons m-top">
                  <div class="col-4 left-bar-size">
                    <div class="align-bookimg book-img">
                      <img src="./assets/images/read-away-publish.jpg" alt="" />
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Reads</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i class="fa align-icon-small fa-lg fa-heart-o clr2"></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Likes</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i
                        class="fa align-icon-small fa-share share-icon-left-bar"
                      ></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Shares</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="no-below-item">
        <p>&lt; <span class="color-pink"> 3 </span>/ 10 &gt;</p>
      </div>
      <!------ Fourth ROW ------>
      <div class="my-desk-heading second-heading background-light-pink">
        <p>
          <span class="color-pink">My</span> Submissions<span class="col-blue">
            500</span
          >
        </p>
      </div>
      <div>
        <div class="row">
          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="no-below-item">
        <p>&lt; <span class="color-pink"> 3 </span>/ 10 &gt;</p>
      </div>

      <!------ Fifth ROW ------>
      <div class="my-desk-heading second-heading background-light-pink">
        <p>
          <span class="color-pink">Pu</span>blished<span class="col-blue">
            500</span
          >
        </p>
      </div>
      <div>
        <div class="row">
          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                  <div class="row follows-pad">
                    <div class="col-6 icons-one">
                      <div class="icon-text">Rating</div>
                      <i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="col-6 icons-one">
                      <i
                        class="fa fa-bookmark-o bookmark-icon-my"
                        aria-hidden="true"
                      ></i
                      >Bookmark
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="row left-smale-cons writing-icons m-top">
                  <div class="col-4 left-bar-size">
                    <div class="align-bookimg book-img">
                      <img src="./assets/images/read-away-publish.jpg" alt="" />
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Reads</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i class="fa align-icon-small fa-lg fa-heart-o clr2"></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Likes</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i
                        class="fa align-icon-small fa-share share-icon-left-bar"
                      ></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Shares</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                  <div class="row follows-pad">
                    <div class="col-6 icons-one">
                      <div class="icon-text">Rating</div>
                      <i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="col-6 icons-one">
                      <i
                        class="fa fa-bookmark-o bookmark-icon-my"
                        aria-hidden="true"
                      ></i
                      >Bookmark
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="row left-smale-cons writing-icons m-top">
                  <div class="col-4 left-bar-size">
                    <div class="align-bookimg book-img">
                      <img src="./assets/images/read-away-publish.jpg" alt="" />
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Reads</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i class="fa align-icon-small fa-lg fa-heart-o clr2"></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Likes</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i
                        class="fa align-icon-small fa-share share-icon-left-bar"
                      ></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Shares</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img
                  src="/assets/images/read-away-publish.jpg"
                  class="img-writing"
                />
                <div class="vedio-write">
                  <div class="video-cont">
                    <i class="fa fa-file"></i>
                    <span class="video-text">Video</span>
                  </div>
                </div>
                <div class="logo-publisher">
                  <p>Publisher</p>
                  <img src="assets/images/publisher.svg" /> <span>Daniel</span>
                  <div class="row follows-pad">
                    <div class="col-6 icons-one">
                      <div class="icon-text">Rating</div>
                      <i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i
                      ><i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="col-6 icons-one">
                      <i
                        class="fa fa-bookmark-o bookmark-icon-my"
                        aria-hidden="true"
                      ></i
                      >Bookmark
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <h6>ONE NOVALIST APPROACH EUZABETH GEORGE</h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in
                  laying out print, graphic or web designs. The passage is
                  attributed to an unknown typesetter in the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of. the 15th century who is
                  thought to have scrambled parts of.
                </p>
                <label class="right-writeting"
                  >Genres: <span>classic, Fantasy</span></label
                >
                <label class="right-writeting"
                  >Languages: <span>Englsih</span></label
                >

                <div class="row left-smale-cons writing-icons m-top">
                  <div class="col-4 left-bar-size">
                    <div class="align-bookimg book-img">
                      <img src="./assets/images/read-away-publish.jpg" alt="" />
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Reads</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i class="fa align-icon-small fa-lg fa-heart-o clr2"></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Likes</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-4 left-bar-size right">
                    <div class="align-bookimg">
                      <i
                        class="fa align-icon-small fa-share share-icon-left-bar"
                      ></i>
                    </div>
                    <div class="icon-padd">
                      <div class="align-reads">450</div>
                      <div>
                        <span class="left-icons-multiple left-bar-size-1"
                          >Shares</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="center btn-read-wrinting second-row-btn">
                  <button>Open</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="no-below-item">
        <p>&lt; <span class="color-pink"> 3 </span>/ 10 &gt;</p>
      </div>
    </div>
  </div>
</div>
