<footer class="my-footer">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/images/Full-Logo-WA-(1).svg" class="footer-logo">
    </div>

    <div class="col-lg-4 col-sm-12">
      <div class="row">

        <div class="footer-icon-one col-6">
          <p class="left-icon-head ">Follow/Share:</p>
          <div class="social-icons">
            <a href="http://www.facebook.com/writeawayystory"> <i class="fa   fa-facebook circle "></i></a>
            <a href="http://www.facebook.com/writeawayystory"><i class="fa  fa-instagram circle"></i></a>
            <a href="http://www.facebook.com/writeawayystory"><i class="fa  fa-linkedin circle "></i></a>
            <!-- <i class="fa  fa-google-plus circle google-icon"></i> -->
          </div>
        </div>
        <div class="footer-icon-two col-4">
          <p class="left-icon-head">Get our app:</p>
          <i class="fa  fa-apple circle " aria-hidden="true"></i>
          <i class="fa  fa-android circle " aria-hidden="true"></i>
        </div>
      </div>
    </div>


    <div class="col-lg-5 col-sm-12 updated-align-fot row">




      <div class="row book-img-conts responsive-footer book-img-conts added-footer">


        <div class="col-md-8">
          <p>Stay Updated:</p>
          <input type="email" class="footer-email-input" placeholder="Email Address">
          <button type="button" class="email-btn ftr_mail_button">Subscribe</button>
        </div>

        <div class="col-md-4 pt-3">
          <ul class="res-fot">
            <li>- About Us</li>
            <li>- Terms of Use &amp; <span class="ftr_link">Legal Policies</span> </li>
          </ul>
        </div>


        <div class="col-md-12">
          <p>We would love to hear from you:</p>

          <div class="footr-icon">
            <a href="#"><img src="../../../assets/images/2.png" /> <span>Feedback</span></a>
            <a href="#"><img src="../../../assets/images/12.png" /> <span>Testimonials</span></a>
            <a href="#"><img src="../../../assets/images/3.png" /> <span>Contact Us</span></a>
          </div>

        </div>


      </div>
    </div>
    <!-- <p class="copyright">Copyright © 2020 Property Agent.All rights reserved.</p> -->
  </div>
</footer>
