/* Footer area */


.left-icon-head {
  font-size: 12px;
  color: #9F9F9F;
  margin-top: 11px;
  margin-bottom: 2px;
  font-weight: 600;

}

.circle {
  display: inline-block;
  border-radius: 80px;
  box-shadow: 0px 0px 2px rgb(255, 3, 167);
  padding: 9px 11px 9px 11px;
  color: #219AD3;
  margin-right: 3px;
  margin-bottom: 8px;

}

.my-footer {
  background-color: #f7fafe;
  padding: 50px 24px;
  margin-top: 80px;
}

.left-icon-head {
  font-size: 12px;
  color: #9F9F9F;
  margin-top: 11px;
  margin-bottom: 2px;
}

.circle {
  display: inline-block;
  border-radius: 80px;
  box-shadow: 0px 0px 2px rgb(255, 3, 167);
  padding: 9px 11px 9px 11px;
  color: #219AD3;
  margin-right: 3px;
  font-size: 16px;
  cursor: pointer;
}

.footer-list ul {
  line-height: 19px;

}

.left-icon-head {
  font-size: 12px;
  color: #9F9F9F;
  margin-top: 11px;
  margin-bottom: 8px;
}

.circle {
  display: inline-block;
  border-radius: 80px;
  box-shadow: 0px 0px 2px rgb(255, 3, 167);
  padding: 9px 11px 9px 11px;
  color: #219AD3;
  margin-right: 10px;
}

.footer-email-input-div {
  margin-top: 38px;
}

.footer-email-input {
  border: 1px solid #716f6f;
  margin-bottom: 5px;
  padding-left: 10px;
  width: 60%;
  background-color: #EFFDFE;
  font-size: 12px;
  height: 39px;
  float: left;
  color: #807b7b;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.email-btn {
  border: 0px;
  background-color: #ff01a2;
  color: white;
  height: 35px;
  width: 25%;
  font-size: 13px;
  border-radius: 0px 3px 3px 0px;
}

@media only screen and (max-width:768px) and (max-width:769px) {
  .footer-list {
    line-height: 18px;
  }

}

.footer-list ul li {

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.copyright {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  margin-top: 16px;
  color: #292A2C;
  width: 100%;

}

.footer-list li:before {
  position: absolute;
}

/* Footer area */
.added-footer {
  font-weight: 600;

}

.added-footer p {
  padding-bottom: 5px;
  margin-top: 13px;
  width: 100%;
  float: left;
  font-size: 13px;
  color: #444343;

}

.added-footer img {
  display: inline-block;
  width: 15%;
  margin-right: 5%;
  float: left;
}

.footr-icon a {
  width: 25%;
  float: left;
  font-size: 13px;
  font-weight: normal;
}

.footr-icon a span {
  width: 75%;
  float: left;
  margin-top: 2px
}

.added-icons i {
  color: #D43299;

}

.updated-footer-list ul {
  position: relative;
  padding-top: 20px;
}

.added-icons {
  color: #219AD3;
  font-weight: 500;


}

@media only screen and (min-width:360px) and (max-width:470px) {

  .footer-list ul {
    margin-top: 22px !important;
  }

  .circle {
    margin-right: 8px !important;
  }



  .added-footer img {
    width: 20% !important;
    margin: 0 32%;
  }

  .footr-icon {
    text-align: center;
  }

}


@media screen and (max-width: 1024px) {
  .circle {
    margin-right: 6px !important;
  }

  .email-btn {
    width: 60% !important;
  }

  .pt-3,
  .py-3 {
    font-size: 12px;
    margin-top: 20px;
  }

  .added-footer img {
    margin-top: 5px !important;
  }

  .ftr_mail_button {
    width: 40% !important;
  }

}

@media only screen and (min-width:768px) and (max-width:1px) {
  .added-icons {
    font-size: 10px;
  }
}

.quote-footer {
  font-size: 8px;
  border: 2px solid #D43299;
  padding: 3px;
  border-radius: 9px;

}

.input-footer-head {
  padding-top: 17px;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 9px;

}

.input-footer-head span {
  color: white;
}

.book-img-conts {}

.ftr_link {
  margin-left: 10px;
}

.ftr_mail_button {
  background: #d43299;
  border: none;
  padding: 0px 18px 2px 18px;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 40% !important;
  float: left;
  height: 39px;
  font-size: 15px;
  font-weight: 600;
}


@media only screen and (min-width:1024px) and (max-width:1025px) {
  .email-btn {
    width: 33%;
  }
}

@media only screen and (max-width:1440px) and (max-width:1441px) {
  .email-btn {
    width: 40%;
  }
}

@media only screen and (min-width:360px) and (max-width:441px) {
  .responsive-footer {
    font-size: 12px;

  }

  .none-col-ss {
    display: none;
  }
}




.ics {
  width: 100%;
  float: left;
  margin-top: 120px;
}

.footer-modal {
  width: 70%;
  margin: 0 1s5%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  height: 200px;
  padding: 13px;
  background: white;
  border-radius: 10px;
}

.footer-modal p {
  padding-bottom: 0px;
  margin-top: 13px;
  width: 100%;
  float: left;
  font-size: 13px;
  color: #444343;
  font-family: Montserrat;
  width: 100%;
  float: left;
}

.txt_area {
  width: 97%;
  float: left;
}

.footer-email-input {
  border: 1px solid #716f6f;
  margin-bottom: 5px;
  padding-left: 10px;
  width: 60%;
  background-color: #EFFDFE;
  font-size: 12px;
  height: 39px;
  float: left;
  color: #807b7b;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: Montserrat;
  margin-top: 10px;
}

.ftr_mail_button {
  background: #d43299;
  border: none;
  padding: 0px 18px 2px 18px;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 36%;
  float: left;
  height: 39px;
  font-size: 15px;
  font-weight: 600;
  font-family: Montserrat;
  margin-top: 10px;
}

.res-fot {
  list-style: none;
}
