<footer class="my-footer">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/images/Full-Logo-WA.svg" class="footer-logo footer-logo1">
    </div>

    <div class="col-lg-2 col-sm-12">
      <div class="row">

        <div class="footer-icon-one col-lg-12 col-sm-6">
          <p class="left-icon-head ">Follow/Share:</p>
          <div class="social-icons">
            <a href="http://www.facebook.com/writeawayystory" target="_blank"> <i
                class="fa fa-facebook circle "></i></a>
            <a href="http://www.instagram.com/writeawayystory" target="_blank"><i
                class="fa fa-instagram circle"></i></a>
            <a href="http://www.linkedin.com/in/writeawayystory" target="_blank"><i
                class="fa fa-linkedin circle "></i></a>
            <!-- <i class="fa  fa-google-plus circle google-icon"></i> -->
          </div>
        </div>
        <div class="footer-icon-two col-lg-12 col-sm-6">
          <p class="left-icon-head">Get our app:</p>
          <i class="fa  fa-apple circle " aria-hidden="true"></i>
          <i class="fa  fa-android circle " aria-hidden="true"></i>
        </div>
      </div>
    </div>


    <div class="col-lg-7 col-sm-12 updated-align-fot row">




      <div class="row book-img-conts responsive-footer book-img-conts added-footer">


        <div class="col-md-8">
          <p>Stay Updated:</p>
          <input type="email" class="footer-email-input" placeholder="Email Address">
          <button type="button" class="email-btn ftr_mail_button">Subscribe</button>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-3 pt-4">
          <ul class="res-fot">
            <li>- About Us</li>
            <li class="set_mrg">- Terms of Use &amp; <span class="ftr_link">Legal Policies</span> </li>
          </ul>
        </div>


        <div class="col-md-12">
          <p class="set_ww_P">We would love to hear from you:</p>

          <div class="footr-icon">
            <a (click)="openModal(feedback)" type="button"><img src="../../../assets/images/2.png" />
              <span>Feedback</span></a>
            <a (click)="openModal(testimonial)"><img src="../../../assets/images/12.png" />
              <span>Testimonials</span></a>
            <a (click)="openModal(contact)"><img src="../../../assets/images/3.png" /> <span>Contact Us</span></a>
          </div>

        </div>


      </div>
    </div>
    <!-- <p class="copyright">Copyright © 2020 Property Agent.All rights reserved.</p> -->
  </div>
</footer>


<ng-template #feedback>
  <div class="modal-header">
    <h4 class="modal-title pull-left">FeedBack</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="footer-modal">
      <p>We would love to know your thoughts about Us!</p>
      <textarea class="txt_area" name="review" [(ngModel)]="review"></textarea>
      <input class="footer-email-input" placeholder="Email Address" type="email" [(ngModel)]="email">
      <button class="email-btn ftr_mail_button" type="button" (click)="sendFeedBack()">Send</button>
    </div>
  </div>
</ng-template>
<ng-template #testimonial>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Testimonial</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="footer-modal">
      <p>We would love to know your thoughts about Us!</p>
      <textarea class="txt_area" name="review" [(ngModel)]="testimonials"></textarea>
      <input class="footer-email-input" placeholder="Email Address" type="email" [(ngModel)]="email">
      <button class="email-btn ftr_mail_button" type="button" (click)="sendTestimonial()">Send</button>
    </div>
  </div>
</ng-template>
<ng-template #contact>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Contact</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="footer-modal">
      <p>We would love to know your thoughts about Us!</p>
      <textarea class="txt_area" name="review" [(ngModel)]="info"></textarea>
      <input class="footer-email-input" placeholder="Email Address" type="email" [(ngModel)]="email">
      <button class="email-btn ftr_mail_button" type="button" (click)="sendContactus()">Send</button>
    </div>
  </div>
</ng-template>
