/* Footer area */
.footer-logo {
  width: 80% !important;
}

.left-icon-head {
  font-size: 12px;
  color: #9F9F9F;
  margin-top: 11px;
  margin-bottom: 2px;
  font-weight: 600;

}

.circle {
  display: inline-block;
  border-radius: 80px;
  box-shadow: 0px 0px 2px rgb(255, 3, 167);
  padding: 9px 11px 9px 11px;
  color: #219AD3;
  margin-right: 3px;
}

.my-footer {
  background-color: #f7fafe;
  padding: 24px;
  margin-top: 4%;
}

.left-icon-head {
  font-size: 12px;
  color: #9F9F9F;
  margin-top: 11px;
  margin-bottom: 2px;
}

.circle {
  display: inline-block;
  border-radius: 80px;
  box-shadow: 0px 0px 2px rgb(255, 3, 167);
  padding: 9px 11px 9px 11px;
  color: #219AD3;
  margin-right: 3px;
}

.footer-icon-two {
  margin-left: 30px;
}

.left-icon-head {
  font-size: 12px;
  color: #9F9F9F;
  margin-top: 11px;
  margin-bottom: 2px;
}

.circle {
  display: inline-block;
  border-radius: 80px;
  box-shadow: 0px 0px 2px rgb(255, 3, 167);
  padding: 9px 11px 9px 11px;
  color: #219AD3;
  margin-right: 10px;
}

.footer-email-input-div {
  margin-top: 38px;
}

.footer-email-input {
  border-radius: 2px;
  border: 1px solid black;
  margin-bottom: 5px;
  padding-left: 6px;
  width: 60%;
  background-color: #EFFDFE;
  font-size: 10px;
  height: 35px;
}

.email-btn {
  border: 0px;
  background-color: #D43299;
  color: white;
  height: 35px;
  width: 25%;
  font-size: 13px;
  border-radius: 0px 3px 3px 0px;
}

.footer-list {
  font-weight: 700 !important;
  font-size: 13px;
}

.footer-list ul li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.copyright {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  margin-top: 16px;
  color: #292A2C;
  font-family: Montserrat;
}

.footer-list li:before {
  content: '\002D';
  position: absolute;
  margin-left: -10px;
}

/* Footer area */
.added-footer{
  font-weight: 600;

}
.added-icons i{
  color: #D43299;

}
.added-icons {
  color: #219AD3;
  
}
.quote-footer{
  font-size: 8px;
  border: 2px solid #D43299;
  padding: 3px;
  border-radius: 9px;
}
.input-footer-head{
  padding-top: 20px;
  font-weight: 600;
}
.input-footer-head span {
  color: white;
}