<footer class="my-footer">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/images/Full-Logo-WA-(1).svg" class="footer-logo">
    </div>

    <div class="col-md-3">
      <div class="row">
        
        <div class="footer-icon-one">
          <p class="left-icon-head ">Follow/Share:</p>
          <div class="social-icons">
            <a href="http://www.facebook.com/writeawayystory"> <i class="fa   fa-facebook circle "></i></a>
            <a href="http://www.facebook.com/writeawayystory"><i class="fa  fa-instagram circle"></i></a>
            <a href="http://www.facebook.com/writeawayystory"><i class="fa  fa-linkedin circle "></i></a> 
            <!-- <i class="fa  fa-google-plus circle google-icon"></i> -->
          </div>
        </div>
<div class="col-1"></div>
        <div class="footer-icon-two col-5">
          <p class="left-icon-head">Get our app:</p>
          <i class="fa  fa-apple circle " aria-hidden="true"></i>
          <i class="fa  fa-android circle " aria-hidden="true"></i>
        </div>
      </div>
    </div>


    <div class="col-md-6 updated-align-fot row">
      <p class="input-footer-head">Stay Updated:<span> we would love hear from you:</span> </p>
      <div class="row col-md-8  ">
        <input type="email" class="footer-email-input" placeholder="Email Address">
        <button type="button" class="email-btn">Subscribe</button>
      </div>
<div class="col-md-1"></div>
      <div class="col-md-3 updated-footer-list footer-list">
        <ul class="res-fot">
          <li>About Us</li>
          <li>Terms of Use &amp; Legal Policies </li>
        </ul>
      </div>
    </div>


  </div>
  <div class="row book-img-conts">
    <div class="col-6 none-col-ss book-img-conts"></div>
    <div class="col-6 responsive-footer book-img-conts added-footer">
      <p>We would love to hear from you:</p>
      <div class="row added-icons">
        <div class="col-4 ">
          <img src="assets/images/2.svg" class="">  
      Feedback
          
        </div>
        <div class="col-4">
          <img src="assets/images/1.svg" class="">
     Testimonials
          </div>
        <div class="col-4">
          <img src="assets/images/contact-us.svg" class="">
        Contact Us
         </div>

      </div>
    </div>

  </div>

  <!-- <p class="copyright">Copyright © 2020 Property Agent.All rights reserved.</p> -->

</footer>
